<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title><%= topic %></title>
    <link rel="stylesheet" type="text/css" href='../stylesheets/style.css'>  </head>
  <body>
    <style>
      body {
        background-image: url('../images/background_p2.gif');
        background-size: cover;
        background-repeat: no-repeat;
      }
    </style>
    <div class="title-box">
      <p><%= topic %></p>
      <p></p>
      <h3><%= comment %></h3>
      </div>
  </body>
</html>
